:root {
  --hue: 240;
  --saturation: 100%;
  --lightness: 25%;

  --fs-base: 1rem;
  --fs-title: 2.5rem;

  --ff-body: "Lora", serif;
  --ff-heading: "Source Code Pro", monospace;

  --typeSpeed: 6s;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
}

body {
  --hue: 40;
  --saturation: 35.29%;
  --lightness: 93.33%;
  background-color: hsla(var(--hue) var(--saturation) var(--lightness));

  font-family: var(--ff-heading);
  margin: 0 auto;
  min-height: 100vh;
  max-width: 72rem;
}

header section {
  display: grid;
  place-content: center;
  text-align: center;
  margin-top: 20vh;
}

.intro h1 {
  font-size: clamp(1rem, 3vw + 1rem, 4rem);
  margin-bottom: -1.5rem;
  position: relative;
  width: max-content;
}

.intro h1::before,
.intro h1::after {
  content: "";
  position: absolute;
  inset: 0;
}

.intro h1::before {
  --hue: 40;
  --saturation: 35.29%;
  --lightness: 93.33%;
  background-color: hsla(var(--hue) var(--saturation) var(--lightness));
  animation: typewriter var(--typeSpeed) steps(30) 1.5s forwards;
}

.intro h1::after {
  width: 0.125em;
  background: #000;
  animation: typewriter var(--typeSpeed) steps(30) 1.5s forwards,
    blink 750ms steps(26) infinite;
}

.intro .subtitle {
  font-size: clamp(1rem, 2vw + 0.75rem, 3rem);
  opacity: 0;
  animation: fadeIn 4s ease-in calc(var(--typeSpeed) + 2s) forwards;
}

header h1 {
  font-size: var(--fs-title);
}

.list {
  width: max-content;
}

.list ul li {
  line-height: 1.8;
  list-style: none;
}

.list ul a {
  font-family: var(--ff-body);
  text-decoration: none;
}

.list ul a:hover {
  text-decoration: underline;
}

.list ul a,
.list ul a:visited {
  color: #000;
}

/* animation properties */
@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

@keyframes fadeIn {
  0% {
    transform: translateY(3rem);
  }

  80% {
    opacity: 0.8;
    transform: translateY(-1rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
