.news-container {
  margin-top: 2rem;
}

.news-link {
  text-decoration: none;
}

.news-img {
  width: 15%;
}

.news-card {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-bottom: 3rem;
}
